#mynav {
	background-color: white;
	border-bottom: outset;
}

#mybrand {
	text-decoration: none;
	color: #ff748c;
}

#myfooter {
	background-color: #ff748c;
	color: white;
}

#img-abt {
	width: 200px;
}

#project {
	background-color: #fff4f3;
}

#myimg {
	width: 100%;
}

#core-tool {
	
}